body, html {
    margin: 0;
    padding: 0;

    font-size: 16px;

    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(31, 31, 31);
}

h2{
    color: #2830da;
    text-align: center;
    font-size: 2.2em;
    padding: 10px 0;
}

h3 {
    text-align: center;
}

label{
    display: block;
    padding: 10px 0;
    font-size: 1.2em;
    font-weight: 600;

    color: rgb(41, 41, 41);
}

input{
    padding: 10px 0 ;
    display: block;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    border: 1px solid rgb(194, 194, 194);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

input[type="submit"] {
    padding: 12px 0;
    background-color: #2830da;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    max-width: 100%;
    transition: .3s ease;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: #323be9;
}

.btn {
    width: 7em;
}

.container {
    position: absolute;
    width: 70%;
    height: 70vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 2em;
    border-radius: 5px;
    background-color: rgb(243, 243, 243);
}

.small {
    width: 25%;
    height: 40vh;
}

.users-list {
    width: 25%;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li { 
    padding: 0.4em;
    font-weight: 500;
    background-color: rgb(243, 243, 243);
}

.chats {
    width: 70%;
}

#messages {
    display: flex;
    justify-content: space-between;
}

.chat-window{
    padding: 0.6em;
    min-height: 55vh;
    margin-bottom: 1em;
    overflow: auto;
    background: #ffffff;
}

#messageForm {
    display: flex;
    justify-content: space-between;
}

.messageInput {
    width: 80%;
    padding: 0.6em;
    font-family: 'Montserrat', sans-serif;
    color: rgb(41, 41, 41);
    border-radius: 5px;
    border: 2px solid rgb(194, 194, 194);
}



